@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.primary-color{
    color: #f05f75;
}
.primary-bg{
    background-color: #f05f75;
}
.heading-primary-color{
    color: #121f38;
}
ul{
    list-style: none;
}
.package-item{
    border-radius: 20px;
}
.package-active{
    position: relative;
}
.hot-package{
    position: absolute;
    top: -15px;
    right: 30px;
}